# Binaries
/laredo-server
/laredo
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test
*.test
*.out
coverage.txt
coverage.html

# Build
/dist/
/bin/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local
